@page "/orderbook/btceur"
@attribute [StreamRendering]
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime
@inject ILogger<OrderBookChart> Logger
@using ApexCharts;
@using OrderBook.Shared.Models;
@using Microsoft.AspNetCore.SignalR.Client;
@using System.Globalization;

<h3>Order Book</h3>

<div class="chart-container">
    <ApexChart TItem="Bid"
               Title="Order Book"
               @ref="_bookChart">
        
        <ApexPointSeries TItem="Bid"
                         Items="bids"
                         Name="Bids"
                            XValue="@((b) => b.Price)"
                            YValue="@((b) => b.Quantity)"
                            OrderByDescending="e=>e.Y"
                            SeriesType="SeriesType.Bar"
                         />
    </ApexChart>
</div>

@code
{
    public class Bid
    {
        public decimal Price { get; set; }
        public decimal Quantity { get; set; }
    }

    private HubConnection _hubConnection;
    private ApexChart<Bid> _bookChart = default!;
    List<Bid> bids = new();


    List<decimal> asks = new();
    List<decimal> prices = new();
    private bool _dataUpdated = false;

    protected override async Task OnInitializedAsync()
    {
        _hubConnection = new HubConnectionBuilder()
            .WithUrl("http://localhost:5192/orderbookhub")
            .Build();

        _hubConnection.On<LiveOrderBook>("ReceiveOrderBookCurrentState", async (book) =>
        {
            Logger.LogInformation($"Received order book data {book.Bids.Count} bids and {book.Asks.Count} asks.");

            try
            {
                bids = book.Bids.Select(b => new Bid
                {
                    Price = decimal.Parse(b[0], CultureInfo.InvariantCulture),
                    Quantity = decimal.Parse(b[1], CultureInfo.InvariantCulture)
                }).ToList();
            }
            catch (Exception ex)
            {
                Logger.LogError(ex, "Error parsing prices");
            }

            await _bookChart.UpdateSeriesAsync();
            await InvokeAsync(StateHasChanged);
        });

        await _hubConnection.StartAsync();
    }
}